.view5 {
  width: 100%;
  padding: 2rem;
  min-height: calc(100vh - 6rem);
  text-align: center;
}

.view5 .image-container {
  width: 210px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.view5 .image-container img {
  width: 100%;
}

.view5__button--container {
  margin-top: 2rem;
}
