.nav {
  height: 6.7rem;
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
}

.nav-left {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.nav-logo img {
  height: 3.4rem;
  width: 3.4rem;
  cursor: pointer;
}

.nav-dropdown {
  height: 3.8rem;
  border-left: 1px solid #bfbfbf;
  padding: 0.6rem 0rem;
  font-family: "Roboto", sans-serif;
}

.nav__dropdown--type {
  margin-left: 1.5rem;
}

.nav__dropdown--text {
  display: flex;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin-left: 1rem;
  font-size: 1.69rem;
  color: #4a4a4a;
}

.nav__dropdown--text p {
  font-weight: 600;
  color: #4a4a4a;
  font-family: "Montserrat", sans-serif;
  font-size: 1.69rem;
}

.nav__dropdown--text span {
  font-weight: 400;
  margin-left: 0.5rem;
}

.nav__dropdown--button {
  transform: rotate(90deg);
  width: 2.4rem;
  height: 2.4rem;
  margin-left: 1.5rem;
  color: #a2a5b9;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.nav-mode {
  -webkit-box-shadow: -1px 3px 10px 0 rgb(0 0 0 / 6%);
  box-shadow: -1px 3px 10px 0 rgb(0 0 0 / 6%);
  transition: all 0.3s ease;
}

.nav-mode[data-mode="true"] {
  background-color: #323236;
}
.nav-mode[data-mode="false"] {
  background-color: #fff;
}

.nav-mode,
.nav__profile--avatar {
  height: 3.8rem;
  width: 3.8rem;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  overflow: hidden;
  cursor: pointer;
  margin: 0.5rem;
}

.nav__profile--avatar {
  background-color: #e5e5e5;
}

.nav__profile--avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.nav-profile {
  position: relative;
}

.nav__dropdown--profile {
  margin-left: 0.1rem;
}

@media only screen and (max-width: 768px) {
  .nav__dropdown--text span {
    display: none;
  }
}
