.input-container {
  margin: 0.2rem 4rem 0rem 4rem;
  display: flex;
  flex-direction: column;
  width: inherit;
}

.input-container input,
.input-container select {
  height: 4.5rem;
  font-size: 1.7rem;
  text-align: center;
  width: 100%;
  margin: 0.5rem 0rem;
}

.input-container textarea {
  height: 11rem;
  font-size: 1.3rem;
  width: 100%;
  margin: 0.5rem 0rem;
  padding: 1rem;
}

.input__ErrorMessage--container {
  /*  min-height: 2.5rem; */
  min-height: 2rem;
  width: 100%;
}
.input-ErrorMessage {
  font-size: 1.1rem;
  color: rgb(165, 0, 0);
  display: none;
}

/* if inputs are invalid then span inside span container will be visible */
.input-container input:invalid[focused="true"] {
  border: 1px solid rgb(165, 0, 0);
}

.input-container textarea:invalid[focused="true"] {
  border: 1px solid rgb(165, 0, 0);
}

.input-container
  input:invalid[focused="true"]
  ~ .input__ErrorMessage--container
  > .input-ErrorMessage {
  display: block;
}

.input-container
  textarea:invalid[focused="true"]
  ~ .input__ErrorMessage--container
  > .input-ErrorMessage {
  display: block;
}

@media only screen and (max-width: 700px) {
  .input-container {
    margin: 0.2rem 2rem 0rem 2rem;
  }
}

/* @media only screen and (max-width: 400px) {
  .input-container {
    margin: 0.2rem 1rem 0rem 1rem;
  }
} */
